/* Enter your custom styles here */
.customVboxBorder:first-child {
	border: none !important;
}

.customVboxBorder {
	border-top: 2px solid #696969;
}

.customLabelSize {
	font-size: 15px;
}

.customLinkColor {
    color: #84d6dc !important;
    font-size: 15px;
}

.boxShadow {
	border: 1px solid #ccc;
    margin: 15px;
    box-shadow: 7px 7px 14px -5px rgb(0 0 0 / 75%)
}

.customOSFont {
	font-size: 54px;
    margin: 0px 0px 0px 47px;
    font-weight: bold;
    padding: 20px;
}
.sapUiFormTitleH5 {
    display: none !important;
}